<div class="container-fluid profile-tab mt-5">
    <div class="row">
        <div class="col-md-11 box">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <div class="row mt-3" style="text-align: center;">
                        <div class="col-md-4">
                            <i class="fa fa-user-circle-o fa-2x mt-1" aria-hidden="true"></i>
                        </div>
                        <div class="col-md-6">
                            <div class="text">{{data.name }} {{data.lastName}}</div>
                            <div class="text">Status : Online</div>
                        </div>
                    </div>
                    <div class="row mt-3" style="text-align: center;">
                        <div class="col-md-4 rb">
                            <div class="text">Balance</div>
                            <div class="text">$ 0</div>
                        </div>
                        <div class="col-md-4 rb">
                            <div class="text">Stake Played</div>
                            <div class="text">0</div>
                        </div>
                        <div class="col-md-4">
                            <div class="text">Friends</div>
                            <div class="text">0</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-1"></div>
            </div>
        </div>
    </div>
</div>
